<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707577468734-jd0519saoa1or419dk07j2dtu778fen6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707577468734-jd0519saoa1or419dk07j2dtu778fen6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFt-tJaEDUXlQUGODWp5E1LG_qAHh0Se0</string>
	<key>GCM_SENDER_ID</key>
	<string>707577468734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rakneti</string>
	<key>PROJECT_ID</key>
	<string>rakneti</string>
	<key>STORAGE_BUCKET</key>
	<string>rakneti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707577468734:ios:2db0698194715964bafe6f</string>
</dict>
</plist>